.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  float: left;
  margin-right: 20px;
  clip-path: circle(50%);
  shape-outside: circle(50%);
}

.resume-image {
  width: 90%;
  height: 800px;
  border: none;
}

.project-image {
  width: 100%;
  height: 800px;
  border: none;
}