:root {
    --main-bg-color: #000000;
    --main-text-color: #ffffff;
    --accent-color: #ce0875;
}

body {
   font-family: system-ui, san-serif;
   background: var(--main-bg-color);
    color: var(--main-text-color);
   max-width: 900px;
    margin: auto;
    padding: 2rem; 
}

.site-header{
    text-align: center;
    margin-bottom: 2rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: auto;
    padding: 1.25rem;
    flex-wrap: wrap;
}

.nav a{
    position: relative;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.25rem 0.15rem;
    z-index: 0;
}

.nav a::before{
    content: '';
    position: absolute;
    left: -8%;
    bottom: 0.05em;
    width: 0%;
    height: .09em;
    background: var(--accent-color);
    opacity: 0.9;
    z-index: -1;
    transform: rotate(-2deg);
    border-radius: 2px 6px 3px 5px;
    transition: width 0.3s ease-out, 
    transform 0.3s ease-out;
}
.nav a:hover::before{
    width: 116%;
    transform: rotate(-1deg);
}

.container{
    max-width: var(--max);
    margin: auto;
    padding: 1rem;
}

.hero{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

.profile-pic{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
}

.resume-pic{
    position: center;
    width: 50%;
    height: auto;
}

.punk-pad-pic{
    position: center;
    width: 50%;
    display: block;
    height: auto;
    margin: auto;
}