:root {
    --main-bg-color: #000000;
    --main-text-color: #ffffff;
    --accent-color: #ce0875;
}

body {
   font-family: system-ui, san-serif;
   background: var(--main-bg-color);
    color: var(--main-text-color);
   max-width: 900px;
    margin: auto;
    padding: 2rem; 
}

.site-header{
    text-align: center;
    margin-bottom: 2rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: auto;
    padding: 1.25rem;
    flex-wrap: wrap;
}

.nav a{
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    position: relative;
}

.container{
    max-width: var(--max);
    margin: auto;
    padding: 1rem;
}

.hero{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

.profile-pic{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
}

.resume-pic{
    position: center;
    width: 50%;
    height: auto;
}

.punk-pad-pic{
    position: center;
    width: 50%;
    display: block;
    height: auto;
    margin: auto;
}