:root {
    --main-bg-color: #000000;
    --main-text-color: #ffffff;
    --accent-color: #ff23a3;
    --accent-rgb: 205 8 117;
    --max: 900px;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
   background: var(--main-bg-color);
    color: var(--main-text-color);
   max-width: 900px;
    margin: auto;
    padding: 2rem; 
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

background:

    radial-gradient(circle, rgb(255 255 255 / 0.08) 1.2px, transparent 1.4px),
    radial-gradient(circle, rgb(255 255 255 / 0.06) 1px, transparent 1.2px),
    radial-gradient(circle, rgb(255 255 255 / 0.04) 0.8px, transparent 1px);


  background-size:
300px 300px,
220px 220px,
160px 160px,
}

.site-header{
    text-align: center;
    margin-bottom: 2rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

.nav a{
    font-family: Impact, Arial Black, sans-serif;
    font-size: 2.0rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
}

.nav a::before{
     content: '';
  position: absolute;
  left: -6%;
  bottom: -0.55em;

  width: 0%;
  height: 0.28em;      

  background: var(--accent-color);
  opacity: 0.95;
  z-index: -1;


  transform: rotate(-1.4deg) skewX(-3deg);


  border-radius: 1px 5px 1px 6px;
  box-shadow:
    0 1px 0 rgba(0,0,0,0.35),
    0 -1px 0 rgba(255,255,255,0.10),
    inset 10px 0 0 rgba(255,255,255,0.06),
    inset -14px 0 0 rgba(0,0,0,0.18);

  transition:
    width 0.22s ease-out,
    transform 0.22s ease-out;
}

.nav a:hover::before{
    width: 112%;
    transform: rotate(-1.2deg) skewX(-1.5deg);
}

.container{
    max-width: var(--max);
    margin: auto;
    padding: 1rem;
}

.hero{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.hero-text h1{
    font-size: 3rem;
    font-family: Impact, Arial Black, sans-serif;
    letter-spacing: 0.1em;
}

.nav a,
.section h2,
.hero-text h1 {
  font-family: Impact, Impact, Haettenschweiler, 'Arial Black', "Franklin Gothic Heavy", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 900;
}

.section {
  margin-top: 3.5rem;
}

.profile-pic{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    display: block;

    outline: 5px solid rgba(255,255,255,0.25);
    outline-offset: -6px;

    box-shadow:
    0 10px 20px rgba(0,0,0,0.6),
    0 0 0 2px rgba(255,255,255,0.08);
}

.resume-pic,
.punk-pad-pic{
    width: 50%;
    height: auto;
    display: block;
    margin: 1rem auto;
}