body {
   font-family: system-ui, san-serif;
   max-width: 900px;
    margin: auto;
    padding: 1rem; 
}

.profile-pic{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}