:root {
    --main-bg-color: #000000;
    --main-text-color: #ffffff;
    --accent-color: #9c0101;
}

body {
   font-family: system-ui, san-serif;
   max-width: 900px;
    margin: auto;
    padding: 2rem; 
}

.site-header{
    text-align: center;
    margin-bottom: 2rem;
}

.nav{
    max-width: var(--max);
    margin: auto;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.nav a{
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: bold;
}

.container{
    max-width: var(--max);
    margin: auto;
    padding: 1rem;
}

.hero{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

.profile-pic{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
}

resume-pic{
    position: center;
    width: 50%;
    height: auto;
}

punk-pad{
    position: center;
    width: 50%;
    height: auto;
}