:root {
    --main-bg-color: #000000;
    --main-text-color: #ffffff;
    --accent-color: #e40e83;
    --max: 900px;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
   background: var(--main-bg-color);
    color: var(--main-text-color);
   max-width: 900px;
    margin: auto;
    padding: 2rem; 
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

  background:
  
    radial-gradient(circle at 20% 30%, rgba(255,255,255,0.04) 1px, transparent 1px),
    radial-gradient(circle at 70% 80%, rgba(255,255,255,0.03) 1px, transparent 1px),


    radial-gradient(circle, rgba(255,255,255,0.12) 2px, transparent 2px);

  background-size:
    140px 140px,
    180px 180px,
    420px 420px;
}

.nav a,
.section h2,
.hero-text h1 {
  font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 700;
}

.site-header{
    text-align: center;
    margin-bottom: 2rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: auto;
    padding: 1.25rem;
    flex-wrap: wrap;
}

.nav a{
    position: relative;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.25rem 0.15rem;
    z-index: 0;
}

.nav a::before{
    content: '';
    position: absolute;
    left: -8%;
    bottom: var(--accent-color);
    width: 0%;
    height: 2.6em;
    background: var(--accent-color);
    opacity: 0.9;
    z-index: -1;
    transform: rotate(-3deg);
    border-radius: 6px 10px 5px 9px;
    transition: width 0.35s ease-out, transform 0.35s ease-out;
}
.nav a:hover::before{
    width: 120%;
    transform: rotate(-1.5deg);
}

.container{
    max-width: var(--max);
    margin: auto;
    padding: 1rem;
}

.hero{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

.profile-pic{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
}

.resume-pic,
.punk-pad-pic{
    width: 50%;
    height: auto;
    display: block;
    margin: 1rem auto;
}