<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ '/assets/index.css' | relative_url }}">
</head>

<body>
    <header class="site-header">
        <nav class ="nav">
            <a href="#about-me">About Me</a>
            <a href="#resume">Resume</a>
            <a href="#project">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <main class="container">


        <section id="about-me" class="hero">
    <img class ="profile-pic" src = "{{ '/assets/Profile_pic.jpg' | relative_url }}"
    alt="Danny Thacker"/>
   
     <div class="hero-text">
        <h1>Danny Thacker</h1>
        <p>
        Hi, I’m Danny. I’m a software developer with skills in JavaScript, Java, SQL, CSS, and Git/GitHub.
        I have a background in audio engineering, songwriting, and I love to create.
        I’m seeking a software developer role where I can build meaningful projects.
        </p>
    </div>
    </section>

    <section id="resume" class="section">
        <h2>Resume &amp; Acheivements</h2>

        <a class="card resume-card"
            href="{{ '/assets/Danny_Thacker_Resume_2026.pdf' | relative_url }}"
            target="_blank" rel="noopener">

            <img class="resume-pic" 
            src="{{ '/assets/Danny_Thacker_Resume_2026.jpg' | relative_url }}"
            alt="Resume preview"/>
            <div class="card-title">Download Resume</div>
        </a>
    </section>

    <section id="projects" class="section">
        <h2>Projects</h2>

        <a class="punk-pad-card"
            href="{{ 'https://danzilladanny.github.io/punk-pad/' }}"
            target="_blank" rel="noopener">

            <img class="punk-pad-pic"
            src="{{ '/assets/Punk_Pad.jpg' | relative_url }}"
            alt="Punk Pad preview"/>
            <div class="card-title">Punk Pad</div>
        </a>
    
   <p class="project-description">
    Punk Pad is a chord generator inspired by pop-punk, emo, and punk hits. It helps songwriters and guitar
    players of all skill levels quickly generate chord progressions commonly used in these genres, making it
    easier to start writing songs and experiment with new ideas.
    </p>
    </section>

    <section id="contact" class="section">
        <h2>Contact Me</h2>
        <p>
            Email: <a href="mailto:thenumberonesonsband@gmail.com">thenumberonesonsband@gmail.com</a><br/>
            GitHub: <a href="https://github.com/DanzillaDanny">DanzillaDanny</a><br/>
            LinkedIn: <a href="https://www.linkedin.com/in/danny-thacker-2b4b62209/">Danny Thacker</a>
        </p>
    </section>

    {{ content }}
    
    </main>

  <footer class="footer">
    <p>© {{ "now" | date: "%Y" }} Danny Thacker</p>
  </footer>
</body>
</html>         