<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/index.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<main class="container">

<body>
    <header class="site-header">
        <nav class ="nav">
            <a href="#about-me">About Me</a>
            <a href="#resume">Resume</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <section id="about-me" class="hero">
    <div class="profile-wrap">
    <img class ="profile-pic" src = "{{ '/assets/Profile_pic.png' | relative_url }}"
    alt="Danny Thacker"/>
    </div>
   
     <div class="hero-text">
        <h1>DANNY THACKER</h1>
        <p>
Hi, I’m Danny. I'm a software developer, musician, and audio engineer with a relentless, creative curiosity.
I’m often thinking through three problems at once sometimes nowhere near the present moment. I do take notes
and have a calendar.
        </p>

<h3>Tech Stack & Skills</h3>
        <p>
Languages: JavaScript, Java, SQL, HTML, CSS<br/>
Tools: Git/GitHub, VS Code, IntelliJ IDEA, Postman, Chrome DevTools<br/>
Frameworks/Libraries: React, Node.js<br/>
Focus: Clean, readable code, Problem-solving, Team collaboration<br/>
        </p>

<h3>From Music To Code</h3>
        <p>
My first creative language was music, which has taken me to places I never expected. I've hosted radio shows and played
original songs to a sold-out crowd at Blueberry Hill in St. Louis. I bring the same passion and dedication to software development. 
        </p>
<h3>Creative Problem Solver</h3>
        <p>
If I can build a castle out of empty milk crates in a Dairy Queen kitchen, hide action figures in an Applebee’s dining room,
or guide cave tours at Meramec Caverns, I’m confident I can figure out just about anything. Contact me to discuss opportunities below.
        </p>
    </div>
    </section>

    <section id="resume" class="section">
        <h2>Resume &amp; Achievements</h2>

        <a class="card resume-card"
            href="{{ '/assets/Danny_Thacker_Resume_2026.pdf' | relative_url }}"
            target="_blank" rel="noopener">

            <img class="resume-pic" 
            src="{{ '/assets/Danny_Thacker_Resume_2026.jpg' | relative_url }}"
            alt="Resume preview"/>
            <div class="card-title">Download Resume</div>
        </a>
    </section>

    <section id="projects" class="section">
        <h2>Projects</h2>

        <a class="punk-pad-card"
            href="{{ 'https://github.com/DanzillaDanny/Punk-Pad-Danny-T' }}"
            target="_blank" rel="noopener">

            <img class="punk-pad-pic"
            src="{{ '/assets/Punk_Pad.jpg' | relative_url }}"
            alt="Punk Pad preview"/>
            <div class="card-title">Punk Pad</div>
        </a>
    
   <p class="project-description">
    I grew up on Green Day; their energy struck a chord that left me obsessed with writing songs of my own. 
    But let’s be real: sometimes there’s, <strong>"No time for motivation."</strong> I wanted to write
    music without the self-loathing grind of digging through keys and chord progressions. Everything uses 4 chords anyway, right?
    </p>
    <p>
    Rivers Cuomo, from Weezer, famously uses Python to organize his riffs and decode the DNA of the bands that inspire him. 
    You can think of it the same way The Beatles took rock and roll from Chuck Berry and turned it into melodic power pop. 
    I built <strong>Punk Pad</strong> with a similar scientific method in mind.
    <strong>Punk Pad</strong> handles the technical stuff like progressions, keys, and tempos so you can focus on the angst.
    Turn your raw ideas into finished songs. <strong>Check it out on GitHub and start writing!</strong>
    </p>
    </section>

    {{ content }}

</main>

<footer id="contact" class="footer">
  <div class="footer-inner">
    <p class="footer-contact">
      <a href="mailto:thenumberonesonsband@gmail.com">thenumberonesonsband@gmail.com</a>
      <span class="footer-sep">•</span>
      <a href="https://github.com/DanzillaDanny" target="_blank" rel="noopener">GitHub</a>
    </p>

    <div class="footer-icons">
      <a href="https://www.linkedin.com/in/danny-thacker/" target="_blank" rel="noopener" aria-label="LinkedIn">
        <img src="{{ '/assets/InBug-White.png' | relative_url }}" class="icon icon--img" alt="LinkedIn">
      </a>
    </div>
    <p class="footer-copy">© {{ "now" | date: "%Y" }} Danny Thacker</p>
  </div>
</footer>
</body>
</html>
