<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ '/assets/index.css' | relative_url }}">
</head>

<body>
    <header class="site-header">
        <nav class ="nav">
            <a href="#about-me">About Me</a>
            <a href="#resume">Resume</a>
            <a href="#project">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <main class="container">


        <section id="about-me" class="hero">
    <img class ="profile-pic" src = "{{ '/assets/Profile_pic.jpg' | relative_url }}"
    alt="Danny Thacker"/>
    <div class="hero-text">
        <h1>Danny Thacker</h1>
        <p>Software Developer | JavaScript | Java | SQL | React | CSS | Audio Engineer</p>
    </div>
        </section>
        <section id="project" class="cards">

            <a class="card resume-card"
                href="{{ '/assets/Danny_Thacker_Resume_2026.pdf' | relative_url }}"
                target="_blank" rel="noopener">
                <img class="resume-pic" src="{{ '/assets/Resume_2026.jpg' | relative_url }}"
                    alt="Resume preview">
                <div class="card-title">Download Resume</div>
            </a>
    
   <a class="card" href="https://danzilladanny.github.io/punk-pad/" 
   target="_blank"
    rel="noopener">
    <img class="punk-pad-pic" src="{{ '/assets/punk_pad.png' | relative_url }}"
     alt="Punk Pad preview">
        <div class="card-title">Punk Pad</div>
    </a>

    </section>

    {{ content }}
    
    </main>

  <footer class="footer">
    <p>© {{ "now" | date: "%Y" }} Danny Thacker</p>
  </footer>
</body>
</html>         